<html>
<head>
<title>Just Cause</title>

<script src="jquery-3.3.1.min.js"></script>
</head>
<body>
  <h1>Just Cause: Skeleton Create Account</h1>

  <!--This POST method should redirect back to the main page -->
  <form method="POST" action="/createAccount">
    Email:<br>
    <input type="text" name="email">
    <br>
    Password:<br>
    <input type="text" name="password">
    <br>
    First name:<br>
    <input type="text" name="firstname">
    <br>
    Last name:<br>
    <input type="text" name="lastname">
    <br><br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>