<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://www.w3.org/Style/Examples/007/fonts.en.html">
<head>

<script type ="text/javascript">
$(document).ready(() => {

	$('#testbutton').click(() => {
		const requestURL = 'schools/' + $('#nameBox').val();
		$.ajax({
			url: requestURL,
			type: 'GET',
			dataType: 'json',
			success: (data) => {
				if(data.location && data.pic && data.income) {
					$('schoolNameDiv').html(data);
					$('locationDiv').html('Location: ' + data.location);
					$('incomeDiv').html('Income Class: ' + data.income);
					$('schoolImage').attribute('src', data.pic);
				} else {
					$('schoolNameDiv').html('');
					$('locationDiv').html('');
					$('incomeDiv').html('');
					$('schoolImage').attribute('');
				}
				}
			};
		});
	});
	$('#allSchoolsButton').click(() => {
		$.ajax({
			url: 'schools/',
			type: 'GET',
			dataType: 'json',
			success: (data) => {
				$('#status').html('All schools: ' + data);
			};
		});
	});
});
</script>

</head>
<style>
.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #006699;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

body {
	background-color: #f2f2f2
}
</style>

<body>
	<h1 style="color:#6C6F7D"> Just Cause </h1>

  Test School Return: <br/> <input id="nameBox" type="text" size="20";/>
	<div id="button">
  <button class="button">Search</button> <br/><br/>
	</div>
	School to Fund: <br/> <input id="nameBox" type="text" size="20"/>
	<div id="button">
	<button class="button">Search</button>
	</div>

  <div id="schoolNameDiv"></div>
  <div id="locationDiv"></div>
  <div id="incomeDiv"></div>
  <img id="schoolImage"></body>

  <div id="map">
  	<iframe 
  		width="600" 
  		height="450" 
  		frameborder="0" 
  		style="border:0" 
  		src="https://www.google.com/maps/embed/v1/search?q=public%20schools%20near%20me&key=AIzaSyDraW-Ju21u9OHTgNB2fdSUrgu3ih2jlw8" 
  		allowfullscreen>
  	</iframe>
  </div>

<!--back button-->
  <div class = "back">
    <a href = "/login.html"><img src = "/arrow.png" width="40" height = "42">
  </div>
<!--end back button-->


</body>
</html>
