<html>
<head>
<title>Just Cause</title>

<script src="jquery-3.3.1.min.js"></script>
</head>
<body>
  <h1>Just Cause: Skeleton Login</h1>
  <form method="POST" action="/createAccount">
      Email:<br>
      <input type="text" name="email">
      <br>
      Password:<br>
      <input type="text" name="password">
      <br><br>
      <input type="submit" value="Login">
    </form> 

  <a href="/createAccount" id="createAccount">Create Account</a>
  <a href="/registerSchool" id="registerSchool">Register A School</a>

</body>
</html>