<html>
<head>
<title>Just Cause</title>

<script src="jquery-3.3.1.min.js"></script>
</head>
<body>

  <!--This POST method should redirect back to the login page? -->
  <h1>Just Cause: Skeleton registerSchool</h1>
  <form method="GET" action="/home.html">
    School name:<br>
    <input type="text" name="schoolName">
    <br>
    School location:<br>
    <input type="text" name="schoolLocation">
    <br><br>
    Description/Needs: <br>
    <input type="text" name="description">
    <br><br>
<input type="submit" value="Submit">
  </form> 

<!--back button-->
  <div class = "back">
    <a href = "/login.html"><img src = "/arrow.png" width="40" height = "42">
  </div>
<!--end back button-->

</body>
</html>