/* css outline that handles google map functions on index page */
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 50%;
  border: 1px solid #999;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
#right-panel {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  top: 45%;
  margin-top: -195px;
  height: 300px;
  width: 200px;
  padding: 5px;
  z-index: 5;
  border: 1px solid #999;
  background: #fff;
}
h2.maps {
  font-size: 22px;
  margin: 0 0 5px 0;
}
ul.maps {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 271px;
  width: 200px;
  overflow-y: scroll;
}
li.maps {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
li.maps:nth-child(odd) {
  background-color: #fcfcfc;
}
#more {
  width: 100%;
  margin: 0px 0 0 0;
}

.map.fullsize {
  width: 100%;
}

.initiallyHidden { display: none; }
