<!DOCTYPE html>
<html lang="en">

<head>

  <% include ../partials/head %>

</head>

<body id="page-top">

  <% include ../partials/navigation %>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active"> <%= data.name %> </li>
        </ol>
        <div class="card mb-3">
          <div class="card-body">
            <% if (data.photos != null) { %>
            
              <img src="
                https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&maxheight=400&key=AIzaSyDraW-Ju21u9OHTgNB2fdSUrgu3ih2jlw8&photoreference=<%= data.photos[0].photo_reference%>
              "/>
            <% } %>
          </div>
        </div>
        <!-- School Info-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-graduation-cap"></i>
            <%= data.name %></div>
          <div class="card-body">
            <!-- Card Text -->
            The Mt. Diablo Unified School District prohibits discrimination, harassment, intimidation, and bullying based on actual or perceived ancestry, age, color, disability, gender, gender identity, gender expression, nationality, race or ethnicity, religion, sex, sexual orientation, actual or potential parental, family, marital status, or association with a person or a group with one or more of these actual or perceived characteristics. Questions, concerns or complaints regarding compliance with Title IX student issues, please contact the Title IX Compliance Officer, Michael A. Jimenez, Assistant Superintendent High School, at 1936 Carlotta Drive, Concord, CA 94519, by phone (925) 682-8000, or email at jimenezma@mdusd.org. Questions, concerns or complaints regarding compliance with Title IX employee issues, please contact the Executive Director of Personnel, Lisa Murphy Oates, at 1936 Carlotta Drive, Concord, CA 94519, by phone (925) 682-8000, or email at murphyoatesl@mdusd.org. Questions, concerns or complaints regarding harassment, discrimination, intimidation and bullying, please contact the Equity Compliance Officer, Jennifer Sachs, Executive Director of Instructional Support, at 1936 Carlotta Drive, Concord, CA 94519, by phone (925) 682-8000, or email at sachsj@mdusd.org. 
            <br/>
            <button class="button">Donate</button><br/>

          </div>
          <div class="card-footer small text-muted">Updated at x time</div>
        </div>
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Just Cause 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <% include ../partials/footer %>

</body>

</html>
